# Good Morning All

In [1]:
a = 'abcd@#%123'
for i in a:
    if i.isalnum():
        print(i)
a to z and 0 to 9

a
b
c
d
1
2
3

In [3]:
for i in range(0,len(a)):
    print(a[i])

a
b
c
d
@
#
%
1
2
3

In [4]:
ord('A')

65

In [6]:
ord('1')

49

In [5]:
chr(65)

'A'

In [14]:
a = 'ertyu3567@#$%^& ghjAk#%^&'
for i in a:
    if ord(i)<ord('a') or ord(i)>ord('z') and ord(i)<ord('A') or ord(i)>ord('Z') :
        print(i)

e
r
t
y
u
3
5
6
7
@
#
$
%
^
&

g
h
j
A
k
#
%
^
&

In [10]:
ord('a')

97

A - 65
Z - 90
a - 97
z - 122

# tuples

In [15]:
a = (1,2,3,4)
a

(1, 2, 3, 4)

In [16]:
a[0]

1

In [17]:
a[0] = 5

TypeError: 'tuple' object does not support item assignment

In [18]:
li = [1,2,3,3]
li[0] = 5
li

[5, 2, 3, 3]

In [19]:
a = (1,'a')

In [20]:
a

(1, 'a')

In [21]:
for i in a:
    print(i)

1
a

In [22]:
type(a)

tuple

In [23]:
a = ()
type(a)

tuple

In [24]:
a = []
type(a)

list

In [25]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [27]:
a = (1,2,2,2,3,4)
a.count(2)

3

In [29]:
a.index(2,2)

2

In [30]:
a

(1, 2, 2, 2, 3, 4)

In [49]:
# [1,2,3,4,5]
# 2,3
a = [1,2,3,4,5]
b = [1,2,3]
for i in a:
    if i in b:
        print(i)
        a.remove(i)
print(a)

1
3
[2, 4, 5]

# 1,2,3,4,5
# 0,1,2,3,4
# 2,3,4,5
# 0,1,2,3

In [42]:
a = [1,2,3,4,5,6,7]
b = [2,3,5,6]
for i in range(len(a)-1,-1,-1):
    if a[i] in b:
        a.remove(a[i])
a

[1, 4, 7]

In [41]:
len(a)

4

# 1,2,3,4,5
# 0,1,2,3,4
# 1,2,3,4
# 0,1,2,3

In [44]:
a = [1,2,3,4,5]
range(len(a)-1,-1,-1)

range(4, -1, -1)

In [47]:
b = [2,3,4]
if 2 in b:
    print('yes')

yes